@page "/counter"
@using MoneyManager.Data.Interface
@using MoneyManager.Data.Models

@inject IMonthSheet MonthSheetService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private MonthSheetModel MonthSheetTesting = new()
        {
            Date = DateTime.Now.AddMonths(-1)
        };


    private void IncrementCount()
    {
        currentCount++;

        MonthSheetService.CreateMonthSheet(MonthSheetTesting);
    }
}
