@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<PageTitle>MoneyManager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <div class="col justify-content-start">
                <ButtonComponent DisplayName="Demo Mode"
                                 Color=@ColorsEnum.warning
                                 OnClick=@OpenDemoPage />
            </div>
            <div class="col-auto justify-content-end">
                <LoginDisplay />
                <a href="https://www.linkedin.com/in/ruben-lopes-dev/" target="_blank">LinkedIn</a>
                <a href="https://github.com/RubenL007" target="_blank">GitHub</a>
                <a href="https://codepen.io/Ruben-Lopes" target="_blank">CodePen</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenComponents />

@code {
    private void OpenDemoPage()
    {
        navigationManager.NavigateTo("/Demo");
    }
}