@namespace MoneyManager.Shared.Components

<button @onclick=OnClick
        class="btn-3d btn-@Color"
        type="button"
        hidden=@(!IsVisible)
        disabled=@(ViewMode == ViewModeEnum.Edit ? false : true)
        title=@Tooltip>
    @if (!string.IsNullOrWhiteSpace(IconClass))
    {
        <span class=@(IconClass + $"{(string.IsNullOrWhiteSpace(DisplayName) || NoDisplayName ? string.Empty : " pe-2")}") aria-hidden="true" />
    }
    @if (!NoDisplayName)
    {
        <span>@DisplayName</span>
    }
</button>

@code {
    [Parameter]
    public string DisplayName { get; set; } = string.Empty;

    /// <summary>
    /// For when used with a type, but doesnt need DisplayName
    /// </summary>
    [Parameter]
    public bool NoDisplayName { get; set; } = false;

    [Parameter]
    public string Tooltip { get; set; } = string.Empty;

    /// <summary>
    /// Executes the method given when clicked
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public ColorsEnum Color { get; set; } = ColorsEnum.primary;

    [Parameter]
    public ViewModeEnum ViewMode { get; set; } = ViewModeEnum.Edit;

    [Parameter]
    public bool IsVisible { get; set; } = true;

    /// <summary>
    /// Defines the icon for the button, none by default.
    /// Correct structure for the icon is "oi oi-Icon-Name".
    /// </summary>
    [Parameter]
    public string IconClass { get; set; } = string.Empty;

    [Parameter]
    public ButtonTypeEnum ButtonType { get; set; } = ButtonTypeEnum.Default;


    protected override void OnInitialized()
    {
        //icon website: https://kordamp.org/ikonli/cheat-sheet-openiconic.html

        string displayNameBackup = DisplayName;
        switch (ButtonType)
        {
            case ButtonTypeEnum.Add:
                Color = ColorsEnum.primary;
                DisplayName = "Add New";
                IconClass = "oi oi-plus";
                break;

            case ButtonTypeEnum.Edit:
                Color = ColorsEnum.normal;
                DisplayName = "Edit";
                IconClass = "oi oi-pencil";
                break;

            case ButtonTypeEnum.Save:
                Color = ColorsEnum.primary;
                DisplayName = "Save";
                IconClass = "oi oi-check";
                break;

            case ButtonTypeEnum.Cancel:
                Color = ColorsEnum.warning;
                DisplayName = "Cancel";
                IconClass = "oi oi-action-undo";
                break;

            case ButtonTypeEnum.Delete:
                Color = ColorsEnum.danger;
                DisplayName = "Delete";
                IconClass = "oi oi-trash";
                break;

            case ButtonTypeEnum.Export:
                Color = ColorsEnum.normal;
                DisplayName = "Export";
                IconClass = "oi oi-data-transfer-download";
                break;

            default:

                break;
        }
        if (!string.IsNullOrWhiteSpace(displayNameBackup)) DisplayName = displayNameBackup;

        base.OnInitialized();
    }
}