@namespace MoneyManager.Shared.Components

<button @onclick=OnClick
        class ="btn btn-@Color"
        type="button"
        hidden=@(!IsVisible)
        disabled=@(ViewMode == ViewModeEnum.Edit ? false : true)>
    @DisplayName
</button>

@code {
    [Parameter]
    public string DisplayName { get; set; } = string.Empty;

    /// <summary>
    /// Executes the method given when clicked
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public ColorsEnum Color { get; set; } = ColorsEnum.primary;

    [Parameter]
    public ViewModeEnum ViewMode { get; set; } = ViewModeEnum.Edit;

    [Parameter]
    public bool IsVisible { get; set; } = true;
}