@namespace MoneyManager.Shared.Components

<div class="header">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <div class="row">
            <span class=@TitleFontSize>@Title</span>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(SubTitle))
    {
        <div class="row">
            <span>@SubTitle</span>
        </div>
    }
    <div class="row justify-content-space-between">
        @if (LeftContent != null)
        {
            <div class="col">
                @LeftContent
            </div>
        }
        @if (RightContent != null)
        {
            <div class="col d-flex justify-content-end">
                @RightContent
            </div>
        }
    </div>
</div>


@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public string SubTitle { get; set; } = null!;
    [Parameter] public string TitleFontSize { get; set; } = "fs-3";

    [Parameter] public RenderFragment LeftContent { get; set; } = null!;
    [Parameter] public RenderFragment RightContent { get; set; } = null!;
}
