@namespace MoneyManager.Shared.Components

@inherits InputText

<label>@DisplayName</label>

@if (IsEditMode)
{
    <input @bind=@CurrentValue
           disabled=@Disabled />
}
else
{
    <span>@CurrentValue</span>
}

@code {
    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public bool IsEditMode { get; set; } = false;
}
