@namespace MoneyManager.Shared.Components
@typeparam TValue
@inherits InputNumber<TValue>

@if (!string.IsNullOrWhiteSpace(DisplayName))
{
    <label>@DisplayName</label>
}

<input @bind=@CurrentValue
       type="number"
       disabled=@(ViewMode == ViewModeEnum.Edit ? false : true)>


@code {
    [Parameter]
    public ViewModeEnum ViewMode { get; set; } = ViewModeEnum.View;
}