@namespace MoneyManager.Shared.Components
@inherits InputText

@if (!string.IsNullOrWhiteSpace(DisplayName))
{
    <label>@DisplayName</label>
}

<input @bind=@CurrentValue
       disabled=@(ViewMode == ViewModeEnum.Edit ? false : true) />

@code {

    [Parameter]
    public ViewModeEnum ViewMode { get; set; } = ViewModeEnum.View;
}
