@namespace MoneyManager.Shared.Components
@typeparam TItem
@inherits InputDate<TItem>

@if (!string.IsNullOrWhiteSpace(DisplayName))
{
    <label>@DisplayName</label>
}

<input type="date"
       value="@BindConverter.FormatValue(CurrentValueAsString)"
       @onchange=@OnInputChanged
       disabled=@(ViewMode == ViewModeEnum.Edit ? false : true)
       min="@MinimumDate"
       max="@MaximumDate" />
@code {
    #region Parameters
    [Parameter]
    public ViewModeEnum ViewMode { get; set; } = ViewModeEnum.View;

    /// <summary>
    /// If this parameter is used, the component will automaticly limit the MinimumDate and MaximumDate to the first and last day of the month of the date provided.
    /// </summary>
    [Parameter]
    public DateTimeOffset? LimitToThisDateMonth { get; set; } = null!;

    /// <summary>
    /// Sets a limit for the date, pass a string in the following format: "2018-12-31"
    /// </summary>
    [Parameter]
    public string MinimumDate { get; set; } = string.Empty;

    /// <summary>
    /// Sets a limit for the date, pass a string in the following format: "2018-12-31"
    /// </summary>
    [Parameter]
    public string MaximumDate { get; set; } = string.Empty;
    #endregion

    #region void OnInitialized()
    protected override void OnInitialized()
    {
        LimitDates();
        base.OnInitialized();
    }
    #endregion

    #region LimitDates()
    private void LimitDates()
    {
        if (LimitToThisDateMonth != null)
        {
            string yearLimit = LimitToThisDateMonth.Value.ToString("yyyy");
            string monthLimit = LimitToThisDateMonth.Value.ToString("MM");
            string lastDayOfTheMonth = System.DateTime.DaysInMonth(Int16.Parse(yearLimit), Int16.Parse(monthLimit)).ToString();

            MinimumDate = $"{yearLimit}-{monthLimit}-01";
            MaximumDate = $"{yearLimit}-{monthLimit}-{lastDayOfTheMonth}";

            if (Value == null || Value.Equals(default(TItem)))
            {
                // handle nullable and non-nullable generically
                var today = new DateTimeOffset(LimitToThisDateMonth.Value.Year, LimitToThisDateMonth.Value.Month, DateTimeOffset.Now.Day, DateTimeOffset.Now.Hour, DateTimeOffset.Now.Minute, DateTimeOffset.Now.Second, DateTimeOffset.Now.Offset);
                if (typeof(TItem) == typeof(DateTimeOffset))
                    Value = (TItem)(object)today;
                else if (typeof(TItem) == typeof(DateTimeOffset?))
                    Value = (TItem)(object)(DateTimeOffset?)today;
            }
        }
    }
    #endregion

    #region Task OnInputChanged(ChangeEventArgs e)
    private async Task OnInputChanged(ChangeEventArgs e)
    {
        var newValue = e.Value?.ToString();

        if (string.IsNullOrWhiteSpace(newValue))
        {

            if (typeof(TItem) == typeof(DateTimeOffset?))
            {
                Value = (TItem)(object?)null!;
                CurrentValueAsString = string.Empty;
            }
            else if (typeof(TItem) == typeof(DateTimeOffset))
            {
                Value = default;
                CurrentValueAsString = string.Empty;
            }
        }
        else
        {
            CurrentValueAsString = newValue;
        }

        await ValueChanged.InvokeAsync(Value);
    }
    #endregion
}