@namespace MoneyManager.Shared.Components
@inherits InputCheckbox

@if (!string.IsNullOrWhiteSpace(DisplayName))
{
    <label>@DisplayName</label>
}

<input @bind=@CurrentValue
       type="checkbox"
       disabled=@(ViewMode == ViewModeEnum.Edit ? false : true)>


@code {
    [Parameter]
    public ViewModeEnum ViewMode { get; set; } = ViewModeEnum.View;
}