@page "/Monthsheets"

@using MoneyManager.Data
@using MoneyManager.Data.Interface
@using MoneyManager.Data.Models

@inject IMonthSheet monthSheetService
@inject NavigationManager navigationManager

<PageTitle>Month Sheets</PageTitle>

<h1>Month Sheets</h1>

<p>This table provides a clear summary of your income and expenses across different months. Use it to track patterns, compare financial performance, and maintain a well-organized view of your finances at a glance. Keep your budgeting simple and effective!</p>

<EditForm Model=@NewMonthSheetDate>
    <InputDateComponent @bind-Value=@NewMonthSheetDate />

    <ButtonComponent OnClick=@(x => AddNewMonthSheetAsync(new() {Date = NewMonthSheetDate}))
                     Color=@ColorsEnum.primary
                     DisplayName="Add This Month" />
</EditForm>

@if (MonthSheets != null && MonthSheets.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var month in MonthSheets)
            {
                <tr>
                    <td @onclick=@(x => OpenDetail(month))>@month.Date.ToString("Y")</td>
                    <td>@month.Balance</td>
                    <td>
                        <ButtonComponent OnClick=@(x => DeleteMonthSheet(month.Id))
                                         Color=@ColorsEnum.danger
                                         DisplayName="Delete" />
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <ButtonComponent OnClick=@(x => AddNewMonthSheetAsync(new()))
                                     Color=@ColorsEnum.primary
                                     DisplayName="Add Current Month" />
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p><em>No records found.</em></p>
}

@code {
    #region Properties
    List<MonthSheetModel> MonthSheets = new List<MonthSheetModel>();
    DateTime NewMonthSheetDate = DateTime.Now;
    #endregion

    #region Task OnInitializedAsync()
    protected override async Task OnInitializedAsync()
    {
        await GetDataAsync();
        await Task.CompletedTask;
    }
    #endregion

    #region Task GetDataAsync()
    private async Task GetDataAsync()
    {
        MonthSheets = monthSheetService.SearchMonthSheets();
        await Task.CompletedTask;
    }
    #endregion

    #region Task AddNewMonthSheetAsync()
    private async Task AddNewMonthSheetAsync(MonthSheetModel monthSheet)
    {
        monthSheetService.CreateMonthSheet(monthSheet);
        await GetDataAsync();
        await Task.CompletedTask;
    }
    #endregion

    #region Task DeleteMonthSheet()
    private async Task DeleteMonthSheet(Guid id)
    {
        monthSheetService.DeleteMonthSheet(id);
        await GetDataAsync();
        await Task.CompletedTask;
    }
    #endregion

    #region OpenDetail(MonthSheetModel month)
    private void OpenDetail(MonthSheetModel month)
    {
        navigationManager.NavigateTo(DetailView.GetUri(month.Date, month.Id));
    }
    #endregion
}
